{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block body %}
    <h1>Teacher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ teacher.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ teacher.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ teacher.email }}</td>
            </tr>
            <tr>
                <th>Address.street</th>
                <td>{{ teacher.address.street }}</td>
            </tr>
            <tr>
                <th>Address.streetNumber</th>
                <td>{{ teacher.address.streetNumber }}</td>
            </tr>
            <tr>
                <th>Address.city</th>
                <td>{{ teacher.address.city }}</td>
            </tr>
            <tr>
                <th>Address.zipcode</th>
                <td>{{ teacher.address.zipcode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_index') }}">back to list</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('teacher/_delete_form.html.twig') }}
{% endblock %}
